.wrappingArticles {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.headerArticles {
  height: 155px;
  width: 90%;
  h:first-child {
    float: left;
    margin-right: 10%;
    color: #000000;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 155px;
  }
  a:nth-child(2) {
    float: left;
    margin-top: 70px;
    color: #bf2d2d;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;
  }
  a:nth-child(3) {
    float: right;
    margin-top: 65px;
    padding: 5px 10px;
    border-radius: 23px;
    width: 210px;
    height: 40px;
    background-color: #2d95bf;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}

$article-width: 420px;

.listArticles {
  margin: 0 20px;

  .Article {
    margin-right: 30px;
    display: inline-block;
    width: $article-width;
    height: 460px;
    border: 2px solid #f2f2ef;
    background-color: #ffffff;
  }

  .userInfoArticle {
    margin: 0px;
    position: relative;
    left: -11px;
    top: 15px;
    height: 70px;
    width: $article-width - 5;
    border: 1px;
    div:first-child {
      display: inline-block;
      position: absolute;
      text-align: center;
      line-height: 70px;
      width: 70px;
      height: 70px;
      background-color: #2d95bf;
      font-family: "Open Sans";
    }
    img {
      position: absolute;
      left: 70px;
      width: 70px;
      height: 70px;
    }
    div:nth-child(3) {
      position: absolute;
      left: 140px;
      text-align: left;
      line-height: 40px;
      padding-left: 15px;
      margin-left: 15px;
      width: $article-width - 160;
      height: 70px;
      background-color: #f2f2ef;
      border-top: 2px solid #808080;
    }
  }

  .articleCreatedAt {
    p {
      margin: 0px;
      color: #ffffff;
      font-family: "Open Sans";
    }
    p:nth-child(1) {
      font-size: 35px;
      font-weight: 700;
      line-height: 40px;
    }
    p:nth-child(2) {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .textArticle {
    position: absolute;
    margin-top: 38px;
    margin-left: 25px;
    width: $article-width - 60;
    height: 304px;
    font-size: 20px;
    p {
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 400;
    }
    p:first-child {
      text-align: left;
      margin-bottom: 20px;
      color: #000000;
      font-family: "Times New Roman";
      font-size: 30px;
      font-weight: 700;
    }
    p:nth-child(2) {
      color: #2d2d2d;
      font-style: italic;
    }
    p:nth-child(3) {
      font-size: 20px;
    }
  }
}

.downloadArticles {
  margin-top: 50px;
  width: 356px;
  height: 66px;
  border: 3px solid #30b5d8;
  border-radius: 45px;
  text-align: center;
  line-height: 55px;
  a {
    color: #272727;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
  }
}
