.Articles {
  width: 100%;
  margin: 0px;
  font-family: "Open Sans";
  font-size: 15px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    float: left;
  }

  .Article {
    margin-bottom: 15px;
    margin-right: 5px;
    clear: both;
    .headArticle {
      font-size: 15px;
      font-weight: 600;
    }
    span:last-child {
      font-size: 15px;
      font-weight: 500;
      font-style: italic;
    }
  }
}

.ArticlesPreloader {
  background: url(../assets/img/preLoaders.gif) no-repeat 50% 0px;
}