.Articles {
  width: 100%;
  margin: 0px;
  font-family: "Open Sans";
  font-size: 15px;

  img {
    width: 35px;
    height: 35px;
    margin-right: 7px;
    float: left;
  }

  .Article {
    margin-bottom: 15px;
    margin-right: 5px;
    clear: both;
  }
}

.ArticlesPreloader {
  background: url(../assets/img/preLoaders.gif) no-repeat 50% 0px;
}