.Auth {
  float: right;
  a {
    float: right;
    margin-top: 0px;
    font-weight: bold;
    display: inline;
    color: black;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
    padding: 21px 20px 16px;
  }
  a:hover {
    color: #aeaeae;
  }
}
