.Content {
  width: calc(100% - 220px);
  height: 614px;
  background: url(../assets/img/content.png) no-repeat;
  background-size: 100% auto;
  background-color: #1C1E20;
  position: absolute;
  top: 64px;
}
