.header-auth {
  float: right;
  div {
    cursor: pointer;
    margin-top: 0px;
    margin-right: 40px;
    font-weight: bold;
    display: inline;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    padding: 21px 20px 16px;
  }
  div:hover {
    color: #aeaeae;
  }
}

.header-auth-modal {
  position: absolute;
  border-radius: 5px;
  top: 10%;
  left: 35%;
  right: 35%;
  bottom: 10%;
  background-color: #AFEEEE;
  div {
    label {
      display: block;
      margin-left: 10%;
      margin-top: 30px;
    }
    input {
      margin-left: 10%;
      margin-top: 5px;
      border-radius: 2px;
    }
  }
  div:nth-child(3) {
    margin-left: 10%;
    margin-top: 10px;
    button {
      background-color: aliceblue;
      border: 1px solid black;
      margin-right: 10px;
    }
  }
}
