.ArticlePreloader {
  background: url(../assets/img/preLoaders.gif) no-repeat 50% 0px;
  height: 900px;
}

.wrapArticle {
  width: 90%;
  height: 100%;
  color: #000000;
  font-family: "Open Sans";
  .titleArticle {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 70px;
  }
  .authorArticle {
    font-size: 15px;
    font-weight: 400;
  }
  .dateArticle {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .descriptionArticle {
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
  }
  .imageArticle {
    border: 2px solid black;
  }
  .textArticle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    width: 90%;
  }
}

.ratingPanel {
  width: 250px;
  height: 80px;
  display: inline-block;
//  float: right;
}

.likeButton {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/like.png) no-repeat 0px 5px;
  margin-left: 10px;
}

.dislikeButton {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/dislike.png) no-repeat 0px 5px;
}

.likeButton:hover {
  background: url(../assets/img/like.png) no-repeat 0px 0px;
}

.dislikeButton:hover {
  background: url(../assets/img/dislike.png) no-repeat 0px 10px;
}

.positiveRating {
  font-size: 30px;
  font-weight: 800;
  vertical-align: middle;
  color: #25B51B;
}

.negativeRating {
  font-size: 30px;
  font-weight: 800;
  vertical-align: middle;
  color: #BD2929;
}
