.article-preloader {
  background: url(../assets/img/preLoaders.gif) no-repeat 50% 0px;
  height: 900px;
}

.wrap-article {
  width: 90%;
  height: 100%;
  color: #000000;
  font-family: "Open Sans";
  .article-title {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 70px;
  }
  .article-author {
    font-size: 15px;
    font-weight: 400;
  }
  .article-date {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .article-description {
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
  }
  .article-image {
    border: 2px solid black;
  }
  .article-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    white-space: pre-wrap;
  }
}

.rating-panel {
  width: 250px;
  height: 80px;
  display: inline-block;
}

.like-button {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/like.png) no-repeat 0px 5px;
  margin-left: 42px;
}

.has-like-button {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/hasLike.png) no-repeat 0px 5px;
  margin-left: 42px;
}

.dislike-button {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/dislike.png) no-repeat 0px 5px;
}

.has-dislike-button {
  cursor: pointer;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/hasDislike.png) no-repeat 0px 5px;
}

.like-button:hover {
  background: url(../assets/img/like.png) no-repeat 0px 0px;
}

.has-like-button:hover {
  background: url(../assets/img/hasLike.png) no-repeat 0px 0px;
}

.dislike-button:hover {
  background: url(../assets/img/dislike.png) no-repeat 0px 10px;
}

.has-dislike-button:hover {
  background: url(../assets/img/hasDislike.png) no-repeat 0px 10px;
}

.positive-rating {
  position: absolute;
  font-size: 30px;
  font-weight: 800;
  margin-top: 13px;
  color: #25B51B;
}

.negative-rating {
  position: absolute;
  font-size: 30px;
  font-weight: 800;
  margin-top: 13px;
  color: #BD2929;
}

.neutral-rating {
  position: absolute;
  font-size: 30px;
  font-weight: 800;
  margin-top: 13px;
  margin-left: 8px;
  color: darkgray;
}

.no-moving-like-button {
  cursor: default;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/like.png) no-repeat 0px 5px;
  margin-left: 42px;
}

.no-moving-dislike-button {
  cursor: default;
  border: 0px;
  width: 74px;
  height: 74px;
  background: url(../assets/img/dislike.png) no-repeat 0px 5px;
}
