.ArticleForm, .formEditIdArticle {
  width: 80%;
  height: 100%;
  margin-top: 40px;
  label,
  input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  input, textarea {
    width: 200px;
  }
  
  .errors {
    font-size: 0.8rem;
    color: #EE0000;
    margin-top: 0.25rem;
    animation: slide-down 0.3s backwards ease-in-out;
    span {
      display: block;
    }
  }
}

.ArticleForm {
  label {
    font-size: 1.1rem;
  }
  input:first-child {
    width: 150px;
  }
  input {
    width: 75%;
  }
  textarea {
    width:  75%;
    height: 600px;
  }
  button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #4BE64B;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 300;
  }
}

.ArticleFormResetButton {
  cursor: pointer;
  margin-left: 10%;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #FF4500;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 300;
}
