.ArticleForm, .formEditIdArticle {
  width: 80%;
  height: 100%;
  margin-top: 40px;
  label,
  input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  input, textarea {
    width: 200px;
  }
  
  .errors {
    font-size: 0.8rem;
    color: #EE0000;
    margin-top: 0.25rem;
    animation: slide-down 0.3s backwards ease-in-out;
    span {
      display: block;
    }
  }
}

.ArticleFormResetButton {
  margin-left: 10%;
  margin-top: 10px;
}
