.adminPanelCreateAndRemoveArticles {
  height: 40px;
  a {
    display: block;
    float: left;
    text-decoration: none;
    color: aqua;
    background-color: cornflowerblue;
    line-height: 33px;
    border-radius: 13px;
    width: 180px;
    text-align: center;
    cursor: pointer;
  }
  a:first-child {
    margin-left: 5%;
  }
  a:nth-child(2) {
    margin-left: 15px;
  }
}

.ArticlesControlPanel {
  display: inline-block;
  border: 3px solid #7A839F;
  border-radius: 2px;
  
  .disabledButton {
    background-color: #95C6FF;
    cursor: unset;
  }

  button {
    color: aqua;
    background-color: cornflowerblue;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    cursor: pointer;
  }
  input {
    border-radius: 5px;
    width: 100px;
    margin-right: 5px;
  }
}

.ArticleControlPanel {
  display: inline-block;

  a {
    cursor: pointer;
    color: #3F70C8;
    margin: 5px;
  }
}
