body {
  background: #1C1E20;
}

.App {
  width: 100%;
  position: absolute;
}

.Header {
  width: calc(100% - 220px);
  margin-left: 110px;
  background: #ffffff;
}

.Menu, .Auth {
  display: inline-block;
  height: 65px;
}

.Menu a {
  float: left;
  margin-top: 0px;
  font-weight: 100;
  display: inline;
  color: black;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  padding: 21px 20px 16px;
}

.Menu a:first-child {
  padding: 0;
}

.Menu a:hover {
  color: #aeaeae;
}

.Menu img {
  float: left;
  background-color: #30b5d7;
  padding: 9px 45px 6px;
}

.Auth {
  float: right;
}

.Auth a {
  float: right;
  margin-top: 0px;
  font-weight: bold;
  display: inline;
  color: black;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  padding: 21px 20px 16px;
}

.Auth a:hover {
  color: #aeaeae;
}

.Content {
  width: calc(100% - 220px);
  height: 614px;
  background: url(../assets/img/content.png) no-repeat;
  background-size: 100% auto;
  background-color: #1C1E20;
  position: absolute;
  top: 64px;
}

.Info {
  background-color: #30b5d7;
  width: 400px;
  float: right;
  margin-top: 180px;
  margin-right: 102px;
  h2 {
    font-weight: bold;
    color: black;
    line-height: 30px;
    font-size: 22px;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  p {
    color: #ffffff;
    padding: 0 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 100;
  }
}

.BackgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.ImgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
