body {
  background: #1C1E20;
}

.App {
  margin: 20px auto;
  max-width: 500px;
  width: calc(100% - 40px);
  background: #ffffff;
  padding: 20px;
  border-radius: 3px;
}

.Menu, .Auth {
  display: inline-block;
}

.Auth {
  float: right;
}
.Menu a {
  text-decoration: none;
  padding: 5px 5px;
  margin-right: 10px;
  color: black;
}

.Auth a {
  text-decoration: none;
  padding: 5px 5px;
  margin-right: 10px;
  color: black;
  font-weight: bold;
  /*float: right;*/
}



.BackgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.ImgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
