* {
  margin: 0 auto;
}

body {
  background: #1C1E20;
}

.auth-invalid-input {
  border-left: 5px solid #a94442;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.preloader {
  background: url(../assets/img/preLoader.gif) no-repeat;
  padding-top: 50px;
}
