@import '../variables';

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  width: calc(100% - 220px);
  min-width: $min-width;
  margin-left: 110px;
}

.main-content {
  background: #ffffff;
  padding-bottom: 20px;
  min-height: calc(100% - 505px);  // 505px = header-height plus footer-height
}
