@import '../variables';

.app {
  height: 100%;
  width: 1600px;
  min-width: $min-width;

  @media screen and (max-width: 1600px) {
    width: calc(100% - 220px);
  }
}

.main-content {
  background: #ffffff;
  padding-bottom: 20px;
  min-height: calc(100% - 505px);  // 505px = header-height plus footer-height
}
